
{% extends 'main.html' %}
                    {% block navA %}
                      <li class="nav-item">
                        <a class="nav-link" href="/">Домашняя<span class="sr-only">(current)</span></a>
                      </li>
                    {% endblock %}
                  {% block navB %}
                      <li class="nav-item">
                        <a class="nav-link" href="#">Блог</a>
                      </li>
                  {% endblock %}

{% block content %}
            <h1>Мой блог</h1>
                            <ol>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-5  col-lg-4">
                                            <li id="main"><h2>{{ head }}</h2></li>
                                                {{ text | safe }}
                                            <img id="imbord" src="../static/image/{{ image }}"  class="align-items-start rounded-circle "
                                                alt = "Моя фотография"
                                                     width="50%" height="40%"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </ol>
{% endblock %}
</html>