{% extends 'main.html' %}
{% block navA %}
    <li><a class="dropdown-item active" href="#">Главная</a></li>
{% endblock %}
{% block content %}
    <div style="width: 70%; height: 70%; margin: auto">
        {% for comment in comments %}
            <div style="padding: 10px; background-color: #EEE; margin: 20px">
                    {% if comment[2] %}
                        <img src={{ comment[2] }} style="margin:auto;width:60%;height:60%;">
                    {% else %}
                    {% endif %}
                    <h1 style="font-size: 24px">{{ comment[0] }}</h1>
                    <p>{{ comment[1] }}</p>
                </div>
        {% endfor %}
   <ul class="navbar-nav mr-auto">

                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class=" btn btn-primary ">Узнать больше</div></a>
                  </a> <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/bhis">История создания</a></li>
                        <li><a class="dropdown-item" href="/streets">История застройки района</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/arch">Архитектор Л. Г. Агафонов</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/now">Лицей</a></li>
                  </ul>
                    </li>
    </div>
{% endblock %}

