{% extends 'main.html' %}
<!--Удали три нижние строчки и посмотри на результат-->
{% block title %}
Главная
{% endblock %}
        {% block content %}
            <div class="container">
                    <div class="round-sep"></div>
                    <div class="row">
                        <div class="col-lg-5">
                                <img id="imbord" src="../static/image/{{ pic }}" class="align-items-start rounded-circle "
                                     alt = "Моя фотография"
                                     width="80%" height="100%"
                                />
                        </div>
                        <div class="col-lg-7">
                            <div class="record-text">
                                <h1>{{ hello }}</h1>
                                <h3>{{ hi }}
                                    {{ me }}
                                </h3>
                            </div>
                        </div>
                    </div>
            </div>
        {% endblock %}
