
<!doctype html>
<html lang="ru">
    <head>
        <meta charset = "UTF-8">
        <title>
            {% block title %}
                Лицей 38 - туристическое место
            {% endblock %}

        </title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>


            <nav class="navbar navbar-expand-lg navbar-dark bg-dark modal-footer">
              <a class="navbar-brand">Лицей 38</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                {% block navA %}
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Домашняя<span class="sr-only">(current)</span></a>
                  </li>
                {% endblock %}
                {% block navB %}
                  <li class="nav-item active">
                    <a class="nav-link" href="/streets">Улицы<span class="sr-only"></span></a>
                  </li>
                {% endblock %}
                {% block navC %}
                  <li class="nav-item active">
                    <a class="nav-link" href="/people">Люди</a>
                  </li>
                {% endblock %}
                {% block navD %}
                  <li class="nav-item active">
                    <a class="nav-link" href="/acts/">Акт</a>
                  </li>
                {% endblock %}
                </ul>
                <form class="form-inline my-2 my-lg-0">
                </form>
              </div>
            </nav>

    {% if tittle == blog %}

    {% endif %}
{% block content %}
Привет
{% endblock %}
        <hr>
            <footer><p>© Муниципальное автономное общеобразовательное учреждение "Лицей № 38"       КонтактыНижний Новгород, ул. Ванеева, 7/57</p></footer>

    </body>
</html>